@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-100: #000000;
}

@layer base {
  html[data-theme='light'] {
    --background-color: #fafafa;
    --text: #030303;
    --primary-100: #e0f2fe;
    --primary-200: #bae6fd;
    --primary-300: #7dd3fc;
    --primary-400: #38bdf8;
    --primary-500: #0ea5e9;
    --primary-600: #0284c7;
    --secondary-100: #f3f4f6;
    --secondary-200: #e5e7eb;
    --secondary-300: #d1d5db;
    --secondary-400: #9ca3af;
    --secondary-500: #6b7280;
    --secondary-600: #4b5563;
    --accent-100: #34d399;
    --accent-200: #10b981;
    --accent-300: #059669;
    --accent-400: #047857;
    --accent-500: #065f46;
    --accent-600: #064e3b;
    --warning-100: #ef4444;
  }

  html[data-theme='dark'] {
    --background-color: #0a0a0a;
    --text: #fafafa;
    --primary-text: #0a0a0a;
    --primary-100: #7dd3fc;
    --primary-200: #38bdf8;
    --primary-300: #0ea5e9;
    --primary-400: #0284c7;
    --primary-500: #0369a1;
    --primary-600: #075985;
    --secondary-100: #171717;
    --secondary-200: #262626;
    --secondary-300: #404040;
    --secondary-400: #525252;
    --secondary-500: #737373;
    --secondary-600: #a3a3a3;
    --accent-100: #34d399;
    --accent-200: #10b981;
    --accent-300: #059669;
    --accent-400: #047857;
    --accent-500: #065f46;
    --accent-600: #064e3b;
    --warning-100: #dc2626;
  }

  html[data-theme='protege'] {
    --background-color: #0a0a0a;
    --text: #fafafa;
    --primary-text: #fafafa;
    --primary-100: #7e22ce;
    --primary-200: #9333ea;
    --primary-300: #a855f7;
    --primary-400: #c084fc;
    --primary-500: #d8b4fe;
    --primary-600: #e9d5ff;
    --secondary-100: #171717;
    --secondary-200: #262626;
    --secondary-300: #404040;
    --secondary-400: #525252;
    --secondary-500: #737373;
    --secondary-600: #a3a3a3;
    --accent-100: #f59e0b;
    --accent-200: #d97706;
    --accent-300: #b45309;
    --accent-400: #92400e;
    --accent-500: #78350f;
    --accent-600: #451a03;
    --warning-100: #ef4444;
  }

  html[data-theme='danger'] {
    --background-color: #0a0a0a;
    --text: #fafafa;
    --primary-text: #0a0a0a;
    --primary-100: #ef4444;
    --primary-200: #dc2626;
    --primary-300: #b91c1c;
    --primary-400: #991b1b;
    --primary-500: #7f1d1d;
    --primary-600: #450a0a;
    --secondary-100: #171717;
    --secondary-200: #262626;
    --secondary-300: #404040;
    --secondary-400: #525252;
    --secondary-500: #737373;
    --secondary-600: #a3a3a3;
    --accent-100: #f59e0b;
    --accent-200: #d97706;
    --accent-300: #b45309;
    --accent-400: #92400e;
    --accent-500: #78350f;
    --accent-600: #451a03;
    --warning-100: #ef4444;
  }

  html[data-theme='forest'] {
    --background-color: #022c22 ;
    --text: #fafafa;
    --primary-text: #0a0a0a;
    --primary-100: #facc15;
    --primary-200: #d97706;
    --primary-300: #b45309;
    --primary-400: #92400e;
    --primary-500: #78350f;
    --primary-600: #451a03;
    --secondary-100: #064e3b;
    --secondary-200: #065f46;
    --secondary-300: #047857;
    --secondary-400: #059669;
    --secondary-500: #10b981;
    --secondary-600: #34d399;
    --accent-100: #93c5fd;
    --accent-200: #60a5fa;
    --accent-300: #3b82f6;
    --accent-400: #2563eb;
    --accent-500: #1d4ed8;
    --accent-600: #1e40af;
    --warning-100: #ff3e3e;
  }

  html[data-theme='bluehour'] {
    --background-color: #020617;
    --text: #fafafa;
    --primary-text: #0a0a0a;
    --primary-100: #f59e0b;
    --primary-200: #d97706;
    --primary-300: #b45309;
    --primary-400: #92400e;
    --primary-500: #78350f;
    --primary-600: #451a03;
    --secondary-100: #0f172a;
    --secondary-200: #1e293b;
    --secondary-300: #334155;
    --secondary-400: #475569;
    --secondary-500: #64748b;
    --secondary-600: #94a3b8;
    --accent-100: #7dd3fc;
    --accent-200: #38bdf8;
    --accent-300: #0ea5e9;
    --accent-400: #0284c7;
    --accent-500: #0369a1;
    --accent-600: #075985;
    --warning-100: #ef4444;
  }
}


section {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 1;
}

.unobstructive {
  opacity: 70%;
}

input:focus {
  outline: none;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
    transform: translateY(100%);
  } 

  to {
    opacity: 100%;
    transform: translateY(0%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 100%;
    transform: translateY(0%);
  } 
  
  to {
    opacity: 0%;
    transform: translateY(100%);
  }
}

* {
  border-color: #fafafa;
}

:focus {
  outline: none;
}

input[type=checkbox] {
  height: 20px;
  width: 20px;
  appearance: none;
  position: relative;
}

input[type=checkbox]::before {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  content: "";
  border-radius: 3px;
  background-color: var(--secondary-100);
  transition-duration: 100ms;
  transition-timing-function: ease;
  border-width: 4px;
  border-color: var(--secondary-100);
}


input[type="checkbox"]:checked::before {
  background-color: var(--accent-100);
}